.container {
  width: 100vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 30px;
  margin-bottom: 7%;
  @media (min-width: 1024px) {
    flex-direction: row;
    height: 50vh;
  }
}
.left {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0 20px;
  @media (min-width: 768px) {
    padding: 0 40px;
  }
  @media (min-width: 1024px) {
    width: 350px;
    height: 100%;
  }
  .title {
    font-size: 35px;
    font-weight: 600;
  }
  .desc {
    font-size: 17px;
  }
  .exploreBtn {
    margin-top: 40px;
    padding: 10px 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
}
.right {
  width: 720px;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
  @media (min-width: 1024px) {
    gap: 60px;
    margin-bottom: 0;
    height: 300px;
  }
  .courseCard {
    width: 100px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    font-size: 13px;
    font-weight: 300;
    .iconWrapper {
      width: 100px;
      height: 90px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.icons{
    height: 50px;
    width: 50px;
    color: #3d3d3d;
}

.bgPink { background-color: #fbd9fb; }
.bgGreen { background-color: #d9fbe0; }
.bgRed { background-color: #fcb9c8; }