.footer {
  background-color: #000;
  color: #d1d5db;
  padding: 2.5rem 1.5rem;
  // z-index: 1000;
  .container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    @media(min-width: 1024px) {
      flex-direction: row;
      justify-content: center;
      gap: 9.375rem; // 150px
      align-items: center;
    }
  }
  .logoSection {
    width: 100%;
    @media(min-width: 768px) { width: 50%; }
    @media(min-width: 1024px) { width: 40%; }
    .logo {
      border-radius: 5px;
      margin-bottom: 0.75rem;
    }
    .title {
      font-size: 1.25rem;
      font-weight: 700;
      color: #fff;
      margin-bottom: 0.75rem;
    }
    .description {
      font-size: 0.875rem;
    }
  }
  .linksSection {
    width: 100%;
    @media(min-width: 1024px) { width: 30%; }
    .heading {
      font-weight: 600;
      color: #fff;
      margin-bottom: 0.5rem;
    }
    .list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      .listItem {
        font-size: 0.875rem;
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .bottomBar {
    border-top: 1px solid #374151;
    margin-top: 2.5rem;
    padding-top: 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    color: #9ca3af;
  }
}
.logo {
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
}
